Welcome to {{ ansible_hostname }}

The machine you are currently connected to is managed via Ansible and shouldn't be modified manually! 
Date of last playbook run: {{ ansible_date_time.date }}
Contact {{ system_manager }} if anything is wrong!
